#slider-range-term {
    background: #29ABE2;
}

#slider-range-holiday {
    background: #38B54A;
}

.noUi-handle:focus {
    box-shadow: 0 0 5px #29ABE2;
}

.slider-deposit {
    background: #29ABE2 !important;
}

.noUi-value-large {
    margin-top: 8px;
}

.deposit-container {
    padding: 50px 0;
}

.deposit-container .slider-deposit{
    margin-top: 8px;
}

@media screen and (max-width: 767px) {
    .deposit-slider-container {
        margin-top: 36px;
    }
    .deposit-container {
        padding: 20px 0 50px 0;
    }
}

div.container {
    width: 500px;
    margin: 50px auto;
    padding: 50px 50px;
    border: 1px solid #BFBFBF;
}

.flex-slider-container {
    padding: 0px 60px 60px 60px;
}

.flex-slider-container h4 {
    text-align: left;
}
