

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/* ==========================================================================
   Form Styling
   ========================================================================== */

.more_info_question {
    color: #555555;
    font-size: 14px;
    cursor: pointer;
}

.alert, .alert button {
    color: #444;
}

h4.fieldLabel {
    color: #4682b4 !important;
}

.input-group-addon {
    background-color: #f0f9f9;
}

.input-group-addon input[type="radio"], .input-group-addon input[type="checkbox"] {
    font-size: 22px;
}

.form-control.btn:hover, .form-control.btn:focus, .form-control.btn.focus {
    color: #4682b4;
}

.draggableItem {
    color:#777 !important;
    background-color:#fff;
    padding: 4px;
    border: solid 1px #eee;
    margin-top: 5px;
    cursor: pointer;
}

/* ==========================================================================
   Table Custom Styling
   ========================================================================== */
.scroll-x-overflow {
    width: 100%;
    overflow-x: scroll;
}
.layout-large {
    width: 1800px;
}
.layout-large th {
    width: 150px;
}

.table-va-middle td {
    vertical-align: middle!important;
}

/* ==========================================================================
   Bootstrap Overrides
   ========================================================================== */

.panel-tight-space {
    padding: 0px !important;
    padding-top: 5px !important;
}

.hr-tight {
    margin: 0px;
    margin-top: 10px;
}

a:focus, a:hover {
    outline:0 !important;
    text-decoration: none !important;
}

button.dropdown-delete{
    color       : #777 !important;
    margin      : 0 !important;
    padding     : 0 !important;
    border      : 0 !important;
    background  : transparent !important;
    font-family : inherit !important;
    font-size   : 1em !important;
    cursor      : pointer !important;
    font-weight : normal !important;
    text-align  : left !important;
    text-indent : 20px !important;
    width       : 100% !important;
}

button.dropdown-delete::-moz-focus-inner{
    padding : 0 !important;
    border  : 0 !important;
}

.filter {
    height: 30px !important;
}

input.filter, select.filter {
    color: #258cd1 !important;
}
.inner-addon {
    position: relative;
}

.inner-addon .glyphicon {
    position: absolute;
    padding: 10px;
    pointer-events: none;
    color: #bbb;
}

/* align icon */
.left-addon .glyphicon  { left:  2.5px;}
.right-addon a { display: inline-block; position: absolute; right: 5px; padding: 10px;font-size: 11px;}

/* add padding  */
.left-addon input  { padding-left:  35px; }
.center-logo {
    text-align: center;
}
.center-box {
    height: 260px;
    width: 100vw;
    margin-top: 25vh;
}
.soft-color {
    color: #666;
}
.center-login {
    height: 100vh;
}

ol.breadcrumb {
    display: inline-table;
    width: 100%
}

ol.breadcrumb li {
    display: inline-flex;
}

.actions-right {
    float: right!important;
    clear: both;
    margin-bottom: 10px;
}
@media screen and (max-width: 480px) {
    h1 .bnt-group {
        margin-top: 10px;
    }
    h1 .btn-group a {
        padding: 5px 10px;
        font-size: 12px;
        line-height: 1.5;
        border-radius: 3px;
    }
}
@media screen and (max-width: 768px) {
    h1 .btn-group a {
        margin-bottom: 10px;
    }
}
