

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/* ==========================================================================
   Form Styling
   ========================================================================== */

.more_info_question {
    color: #555555;
    font-size: 14px;
    cursor: pointer;
}

.alert, .alert button {
    color: #444;
}

h4.fieldLabel {
    color: #4682b4 !important;
}

.input-group-addon {
    background-color: #f0f9f9;
}

.input-group-addon input[type="radio"], .input-group-addon input[type="checkbox"] {
    font-size: 22px;
}

.draggableItem {
    color:#777 !important;
    background-color:#fff;
    padding: 4px;
    border: solid 1px #eee;
    margin-top: 5px;
    cursor: pointer;
}

/* ==========================================================================
   Table Custom Styling
   ========================================================================== */
.scroll-x-overflow {
    width: 100%;
    overflow-x: scroll;
}
.layout-large {
    width: 1800px;
}
.layout-large th {
    width: 150px;
}

.table-va-middle td {
    vertical-align: middle!important;
}

/* ==========================================================================
   Bootstrap Overrides
   ========================================================================== */

.panel-tight-space {
    padding: 0px !important;
    padding-top: 5px !important;
}

.hr-tight {
    margin: 0px;
    margin-top: 10px;
}

a:focus, a:hover {
    outline:0 !important;
    text-decoration: none !important;
}

button.dropdown-delete{
    color       : #777 !important;
    margin      : 0 !important;
    padding     : 0 !important;
    border      : 0 !important;
    background  : transparent !important;
    font-family : inherit !important;
    font-size   : 1em !important;
    cursor      : pointer !important;
    font-weight : normal !important;
    text-align  : left !important;
    text-indent : 20px !important;
    width       : 100% !important;
}

button.dropdown-delete::-moz-focus-inner{
    padding : 0 !important;
    border  : 0 !important;
}

.filter {
    height: 30px !important;
}

input.filter, select.filter {
    color: #258cd1 !important;
}
.inner-addon {
    position: relative;
}

.inner-addon .glyphicon {
    position: absolute;
    padding: 10px;
    pointer-events: none;
    color: #bbb;
}

/* align icon */
.left-addon .glyphicon  { left:  2.5px;}
.right-addon a { display: inline-block; position: absolute; right: 5px; padding: 10px;font-size: 11px;}

/* add padding  */
.left-addon input  { padding-left:  35px; }
.center-logo {
    text-align: center;
}
.center-box {
    height: 260px;
    width: 100vw;
    margin-top: 25vh;
}
.soft-color {
    color: #666;
}
.center-login {
    height: 100vh;
}

ol.breadcrumb {
    display: inline-table;
    width: 100%
}

ol.breadcrumb li {
    display: inline-flex;
}

.actions-right {
    float: right!important;
    clear: both;
    margin-bottom: 10px;
}
@media screen and (max-width: 480px) {
    h1 .bnt-group {
        margin-top: 10px;
    }
    h1 .btn-group a {
        padding: 5px 10px;
        font-size: 12px;
        line-height: 1.5;
        border-radius: 3px;
    }
}
@media screen and (max-width: 768px) {
    h1 .btn-group a {
        margin-bottom: 10px;
    }
}
.datepicker-spacing {
    min-width: 100px;
}
.lg-font-btn {
    font-size: 18px;
}
.padding-left-form {
    padding-left: 10px;
}
.toast {
    position: absolute;
    top: 50px;
    right: 20px;
    -webkit-box-shadow: 0px 0px 24px -1px rgba(56, 56, 56, 1);
    -moz-box-shadow: 0px 0px 24px -1px rgba(56, 56, 56, 1);
    box-shadow: 0px 0px 24px -1px rgba(56, 56, 56, 1);
    background-color: #383838;
    color: #F0F0F0;
    padding:10px;
}
.collapse-form-input {
    width: 100% !important;
}
.collapse-form-label {
    line-height: 30px;
}
.collapse-form-group {
    margin-bottom: 10px !important;
}

/* Range Slider */
input[type=range] {
    -webkit-appearance: none
}
input[type=range] {
    -webkit-appearance: none;
    border-radius: 8px;
    height: 7px;
    border: 1px solid #bdc3c7;
    background-color: #fff;
    margin-top: 13px;
}
input[type='range']::-webkit-slider-thumb {
    -webkit-appearance: none;
    background-color: #ecf0f1;
    border: 1px solid #bdc3c7;
    width: 20px;
    height: 20px;
    border-radius: 10px;
    cursor: pointer;
}
input[type='range']:focus {
    outline: none;
}
/* Firefox */
.firefox input[type=range]::-moz-range-track {
    border-radius: 8px;
    height: 7px;
    border: 1px solid #bdc3c7;
    background-color: #fff;
}
.firefox input[type=range]::-moz-range-thumb {
    background: #ecf0f1;
    border: 1px solid #bdc3c7;
    width: 20px;
    height: 20px;
    border-radius: 10px;
    cursor: pointer;
}
/* IE */
input[type="range"]::-ms-fill-lower,
input[type="range"]::-ms-fill-upper {
    background: transparent;
}
input[type="range"]::-ms-track {
    border-radius: 8px;
    height: 7px;
    border: 1px solid #bdc3c7;
    background-color: #fff;
}
input[type="range"]::-ms-thumb {
    background-color: #ecf0f1;
    border: 1px solid #bdc3c7;
    width: 20px;
    height: 20px;
    border-radius: 10px;
    cursor: pointer;
}
/* End Range Slider */
/* Loading */
.glyphicon-refresh-animate {
    -animation: spin .7s infinite linear;
    -webkit-animation: spin2 .7s infinite linear;
}

.loading-container {
    display: none;
    position: fixed;
    z-index: 999;
    height: 2em;
    width: 11em;
    margin: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.loading-container:before {
    content: '';
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.3);
}

@-webkit-keyframes spin2 {
    from { -webkit-transform: rotate(0deg);}
    to { -webkit-transform: rotate(360deg);}
}

@keyframes spin {
    from { transform: scale(1) rotate(0deg);}
    to { transform: scale(1) rotate(360deg);}
}
/* End Loading */
.btn-bottom-margin {
    margin-bottom: 10px;
}

iframe#email-prev {
    width: 100%;
    height: 60vh;
    border: none;
}

.colorSelectorBlock {
    position: relative;
    width: 36px;
    height: 36px;
    background: url(/image/colorpicker/select.png);
    display: inline;
}

.colorSelectorBlock div {
    position: absolute;
    top: 3px;
    left: 3px;
    width: 30px;
    height: 30px;
    background: url(/image/colorpicker/select.png) center;
}

.colorSelectorReset {
    margin-left: 50px;
}
