

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

.hr-tight {
    margin: 0px;
    margin-top: 10px;
}

/* ==========================================================================
   Form Styling
   ========================================================================== */

body, h1, h2, h3, h4, h5, span, label, div, p, a {
    color: #555 !important;
}

.more_info_question {
    color: #555555;
    font-size: 14px;
    cursor: pointer;
}

.alert, .alert button {
    color: #444;
}

h4.fieldLabel {
    color: #4682b4 !important;
}

.input-group-addon {
    background-color: #f0f9f9;
}

.input-group-addon input[type="radio"], .input-group-addon input[type="checkbox"] {
    font-size: 22px;
}

.form-control.btn:hover, .form-control.btn:focus, .form-control.btn.focus {
    color: #4682b4;
}

a.btn {
    color: #fff !important;
}

.draggableItem {
    color:#777 !important;
    background-color:#fff;
    padding: 4px;
    border: solid 1px #eee;
    margin-top: 5px;
    cursor: pointer;
}

/* ==========================================================================
   Bootstrap Overrides
   ========================================================================== */

.panel-default>.panel-heading {
    background-image: -webkit-linear-gradient(top,#f2f6f6 0,#fff 100%);
    background-image: -o-linear-gradient(top,#f2f6f6 0,#fff 100%);
    background-image: -webkit-gradient(linear,left top,left bottom,from(#f2f6f6),to(#fff));
    background-image: linear-gradient(to bottom,#f2f6f6 0,#fff 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff2f6f6', endColorstr='#ffffffff', GradientType=0);
    background-repeat: repeat-x;
}

.panel-tight-space {
    padding: 0px !important;
    padding-top: 5px !important;
}



.rolePanel {
    float:left;
    height: 372px;
    width: 100%;
}
